<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Jasmine Spec Runner v2.3.4</title>
    <link rel="stylesheet" href="app/tests/jasmine-2.3.4/jasmine.css" />
    <script src="app/tests/jasmine-2.3.4/jasmine.js"></script>
    <script src="app/tests/jasmine-2.3.4/jasmine-html.js"></script>
    <script src="app/tests/jasmine-2.3.4/boot.js"></script>

    <!--source files-->    
	<script src="vendors.js"></script>
    <script src="enlBase.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?&libraries=drawing,places,weather,geometry&sensor=false&key=AIzaSyC6QZlY-0Rt4-wa9Xs36mEVWFgkJBkD33o"></script>

    <!-- include spec files here... -->
    <script src="app/tests/ExampleTest.js"></script>
  </head>
  <body>
  </body>
</html>