<div class="home">
    <div id="MapRow" class="mapDiv columns medium-7">
        <div class="map-canvas-container">
            <div id="map_canvas" class="map-container" ui-map="map" ui-options="homeVm.mapOptions"></div>
        </div>
    </div>
    <div class="content columns medium-5">
        <h2>News and events:</h2>
        <p>Thanksgiving is coming up next week!</p>
		<br />
		<h2 ng-if="!move.score">Move me!</h2>
		<p ng-if="!move.score"> Use the arrow keys</p>
		<br ng-if="!move.score" />
		<div ng-if="move.score">Score: <span ng-bind="move.score"></span></div>
		<div class="moveable"><img src="../../lib/images/Clank.png" /></div>
		<div class="dot" ng-show="move.dot.alive"></div>
    </div>
</div>